[submodule "urgent-care-comparative-fork"]
	path = urgent-care-comparative-fork
	url = https://github.com/duanegoodner/urgent-care-comparative-fork
[submodule "mimic-code-fork"]
	path = mimic-code-fork
	url = https://github.com/duanegoodner/mimic-code-fork
[submodule "postgres_mimiciii_docker"]
	path = postgres_mimiciii_docker
	url = https://github.com/duanegoodner/postgres_mimiciii_docker
